{{#each mountains as |mountain|}}
  {{!-- {{log mountain}} --}}
  <section data-id="{{mountain.id}}">
    <h6>
      {{mountain.date_of_visit}}
    </h6>
    <h3>
      {{limit mountain.name 20}}
    </h3>
    <h4>
      {{mountain.location}}
    </h4>

    <h5>
      {{#if mountain.vertical_drop}}
        Vertical Drop
      {{else}}
      {{/if}}
    </h5>
    <p>
      {{mountain.vertical_drop}}
    </p>

    <h5>
      {{#if mountain.conditions}}
        Conditions
      {{else}}
      {{/if}}
    </h5>
    <p>
      {{mountain.conditions}}
    </p>

    <h5>
      {{#if mountain.difficulty}}
        Difficulty of Runs
      {{else}}
      {{/if}}
    </h5>
    <p>
      {{mountain.difficulty}}
    </p>

    <h5>
      {{#if mountain.runs_made}}
        Runs Taken
      {{else}}
      {{/if}}
    </h5>
    <p>
      {{mountain.runs_made}}
    </p>

    <p>
      {{#if mountain.user_mountain}}
        <button class='btn btn-warning update' data-toggle="modal" data-target="#mtnUpdateModal" data-id="{{mountain.id}}">Update</button>
        <button class='btn btn-danger remove' data-id="{{mountain.id}}">Remove</button>
      {{else}}
      {{/if}}
    </p>

  </section>

{{/each}}
